@import "../../mixins.scss";

.footer {
  background-color: var(--black3);
  padding-top: 40px;
  color: white;
  position: relative;
  width: 100%;
  @include vs {
    gap: 5px;
  }
  @include xs {
    gap: 5px;
  }
  @include sm {
    gap: 10px;
  }
  @include md {
    gap: 40px;
  }

  .contentWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    width: 100%;
    margin-right: 90px;

    @include vs {
      gap: 5px;
      width: 100%;
      margin-right: 0;
    }
    @include xs {
      gap: 10px;
      width: 100%;
    }
    @include sm {
      gap: 15px;
      width: 100%;
    }
    @include md {
      gap: 40px;
      width: 100%;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      gap: 20px;
      text-align: center;
      .infoText,
      .menuItems,
      .contactInfo {
        margin-left: 0;
      }
    }

    @media (max-width: 500px) {
      .infoText img {
        width: 150px;
        height: auto;
      }
    }

    @media (max-width: 400px) {
      .infoText img {
        width: 120px;
        height: auto;
      }
      p,
      ul {
        font-size: 12px;
      }
    }

    .infoText,
    .menuItems,
    .contactInfo {
      text-align: left;
      margin-left: 70px;

      img {
        height: 55px;
      }

      h2 {
        margin-bottom: 10px;
      }

      p,
      ul {
        font-size: 14px;
        line-height: 25px;
        opacity: 0.7;
        margin-top: 2px;
      }

      ul {
        list-style-type: none;
        padding: 0;

        li {
          margin-bottom: 5px;
          cursor: pointer;

          a {
            text-decoration: none;
            color: white;

            &:hover {
              background: linear-gradient(
                98.37deg,
                #f89e00 0.99%,
                #da2f68 100%
              );
              -webkit-background-clip: text;
              background-clip: text;
              color: transparent;
            }
          }
        }
      }
    }
  }

  // .infoText img{
  //   width: 150px;
  //   height: 150px;
  // }

  .socialIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

    .icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: var(--black);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all ease 0.3s;

      a {
        color: white; /* Original icon color */
        text-decoration: none; /* Remove underline */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }

      &:hover {
        box-shadow: 0 0 0.625em var(--pink);
        color: var(--orange1);
        // opacity: 0.7;

        a {
          color: var(--gradient);
        }
      }
    }
  }

  .copyright1 {
    background: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);
    padding: 20px 0;
    margin-top: 20px;
    opacity: 0.72;

    .copyright {
      text-align: center;
      opacity: 0.8;
      margin: 0;
      font-size: 14px;
    }
  }
}
